.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color:  #eeeeee;
    width: 100%;
    margin: 0px auto;
    padding: 0px 150px;
}

.address, .product, .pay, .send{
    width: 100%;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.address{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.pay{
    flex: 1;
    padding-bottom: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.address-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.address-info .c-name, .c-phone{
    font-size: 14px;
    margin-right: 15px;
    font-weight: 500;
}

.address-info .c-address{
    font-size: 12px;
    margin-right: 5px;
    padding: 0px 5px 0px 0px;
    border-right: 1px solid;
}

.address-info .change a{
    color: #007BFF;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

.address-name,
.products-name {
    color:  #007BFF;
    border: none;
    font-size: 30px;
    font-weight: 400;
}

.note{
    display: flex;
    font-size: 14px;
}

.note .note-content{
    flex: 1;
    margin-left: 20px;
    min-height: 70px;
    resize: none;
    border-radius: 5px;
}

.discount{
    color: #007BFF;
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding: 10px 0px 0px;
    cursor: pointer;
}

.product-info {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-top: 1px solid #ccc;
}
.product-info img {
    width: 80px;
    margin: 9px 20px 8px 0px;
}
.product-details {
    flex-grow: 1;
}
.product-name {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}
.product-type {
    display: block;
    font-size: 12px;
    color: #888;
    margin-bottom: 5px;
}
.product-quantity {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}
.product-price {
    display: block;
    font-size: 15px;
    color:  #007BFF;
    margin-bottom: 5px;
}

.cart-footer__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-footer__total-text {
    font-size: 16px;
    margin-right: 10px;
}

.cart-footer__total-price {
    font-size: 20px;
    font-weight: bold;
    color: #007BFF;
    margin-right: 20px;
}

.cart-footer__checkout-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

.cart-footer__checkout-button:hover {
    background-color: #5eacff;
}


/* voicher */
.voucher-table {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.voucher-table table {
    width: 100%;
    border-collapse: collapse;
}

.voucher-table table th,
.voucher-table table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1.2rem;
}

.voucher-table table th {
    background-color: #f2f2f2;
}

.select-voucher {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.select-voucher:hover {
    background-color: #5eacff;
}

.discount-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.discount-code {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

.apply-discount {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.apply-discount:hover {
    background-color: #5eacff;
}

/* Address */
/* Hiệu ứng mờ nền */
.overlay {
    display: none; /* Ẩn overlay khi không cần thiết */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ với độ trong suốt */
    z-index: 1000; /* Đặt z-index cao hơn để nằm trên các phần tử khác */
}

/* Khung thay đổi địa chỉ */
.change-address {
    display: none; /* Ẩn bảng địa chỉ khi không cần thiết */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 750px;
    transform: translate(-50%, -50%); /* Căn giữa khung */
    background-color: #fff; /* Màu nền của khung */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
    z-index: 1001; /* Đặt z-index cao hơn để khung nằm trên overlay */
}


.information form {
    align-items: center;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    font-size: 14px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group select, .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#add-address {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(0, 162, 255);
    color: white;
    margin-bottom: 15px;
}

.cf-address:hover,
.btn-add-address:hover {
    background-color: rgb(112, 203, 255);
    box-shadow: 0px 0px 5px rgb(0, 162, 255);
}

/* CSS cho màn hình di động */
@media only screen and (max-width: 900px){
    .container {
        width: 100%;
        margin: 0px;
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        flex: 1;
        gap: 0px;
    }

    .address, .product, .pay, .send {
        width: 100%;
        margin: 0;
    }

    .product{
        padding: 0px 20px;
    }
    
    .address-name, .products-name {
        font-size: 24px;
    }

    .address-info {
        flex-direction: column;
       
    }

    .address-info .c-address {
        margin-bottom: 10px;
    }

    .note {
        flex-direction: column;
    }

    .note .note-content {
        margin-top: 5px;
        margin-left: 0;
    }

    .product-info {
        align-items: center;
        margin: auto 0px;
    }

    .product-info img {
        width: 100px;

    }

    .product-name, .product-type, .product-quantity, .product-price {
        font-size: 14px;
    }

    .cart-footer__summary {
        flex-direction: column;
        align-items: flex-start;
    }

    .price{
        margin-bottom: 10px;
    }

    .cart-footer__total-text {
        font-size: 14px;
    }

    .cart-footer__total-price {
        font-size: 18px;

    }

    .cart-footer__checkout-button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .voucher-table {
        padding: 15px;
    }

    .voucher-table table th, .voucher-table table td {
        font-size: 12px;
        padding: 8px;
    }

    .discount-code {
        padding: 6px;
    }

    .apply-discount {
        padding: 6px 10px;
    }

    /* Khung thay đổi địa chỉ */
    .change-address {
        width: 90%;
        max-width: 500px;
    }

    .form-group {
        font-size: 16px;
    }

    .cf-address, .btn-add-address {
        font-size: 16px;
        padding: 12px;
    }
}
